
<div class="row justify-content-center">
  <div *ngIf="auth.user | async as user; else showLogin">
    <div *ngIf="user.displayName == null; else showName">
      <h1>Hola {{ user.email }}!</h1>
      <button (click)="logout()">Logout</button>
    </div>

    <ng-template #showName>
      <h1>Hola {{ user.displayName }}!</h1>
      <button (click)="logout()">Logout</button>
    </ng-template>
  </div>


  <ng-template #showLogin >
    <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center">LOGIN</h1>
        <form [formGroup]="loginForm" (ngSubmit)="loginEmail()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" formControlName="email" />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" formControlName="password"/>
          </div>
          <button class="btn btn-nuevo btn-lg btn-block">
            Login
          </button>
        </form>
        <div class="form-group mt-3">
          <button (click)="onGoogleLogin()" class="btn btn-lg btn-outline-danger">
            Inicia sesión con Google
          </button>
        </div>
        <div class="form-group mt-3">
          <button (click)="onFacebookLogin()" class="btn btn-lg btn-outline-primary">
            Inicia sesión con Facebook
          </button>
        </div>
        <div class="form-group mt-3">
          <p>
            ¿No tienes una cuenta? <a [routerLink]="['/register']"> Regístrate </a>
          </p>
        </div>
        <div class="form-group mt-3">
          <p>
            <a [routerLink]="['/forgot-password']"> ¿Olvidaste la contraseña? </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  </ng-template>
</div>
