
<div class="row">
  <div class="col-md-6 mx-auto mt-5 mb-5">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center">Añade una nueva subscripción</h1>
        <form [formGroup]="anadirForm" (ngSubmit)="agregar()">
          <div class="form-group">
            <label for="nombreSubs">Nombre de la Subscripcion</label>
            <input type="text" class="form-control" formControlName="nombreSubs" [(ngModel)]="item.nombreSubs"/>
          </div>
          <div class="form-group">
            <label for="precioSubs">Precio de la Subscripcion</label>
            <input type="number" class="form-control" formControlName="precioSubs" [(ngModel)]="item.precioSubs"/>
          </div>
          <div class="form-group">
            <label for="vencimientoSubs">Vencimiento de la Subscripcion</label>
            <input type="date" class="form-control" formControlName="vencimientoSubs" [(ngModel)]="item.vencimientoSubs"/>
          </div>
          <button type="submit" class="btn btn-nuevo btn-primary btn-lg btn-block">
            Añadir suscripcion
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
