
<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center">AÑADE UNA SUSCRIPCION</h1>
        <form>
          <div class="form-group">
            <label for="nombreSubs">Nombre de la Subscripcion</label>
            <input type="text" class="form-control" formControlName="nombreSubs"/>
          </div>
          <div class="form-group">
            <label for="tipoSubs">Tipo de Subscripcion</label>
            <select class="form-control mdb-select md-for" formControlName="tipoSubs">
              <option value="" disabled selecteds>Selecciona el tipo de Subscripcion</option>
              <option *ngFor="let tipo of tipos" [ngValue]="tipo">{{ tipo }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="precioSubs">Precio de la Subscripcion</label>
            <input type="number" class="form-control" formControlName="precioSubs"/>
          </div>
          <div class="form-group">
            <label for="vencimientoSubs">Vencimiento de la Subscripcion</label>
            <input type="date" class="form-control" formControlName="vencimientoSubs"/>
          </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block">
            Añadir suscripcion
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
