<nav class="navbar navbar-expand-lg navbar-nuevo bg-dark">
  <a class="navbar-brand" href="#">AdminSubs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between no-gutters" id="navbarText">

    <ul class="navbar-nav">
      <div *ngIf="!(auth.user | async) as user; else showLoginSubPagos">
      </div>
    </ul>

    <ng-template #showLoginSubPagos>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/subscripciones']" [routerLinkActive]="['active']">Subscripciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/pagos']" [routerLinkActive]="['active']">Pagos</a>
      </li>
    </ng-template>

    <ul class="navbar-nav">
      <div *ngIf="auth.user | async as user; else showLoginSignIn">
        <div *ngIf="user.displayName == null; else showName">
          <h3 class="d-inline">Hola {{ user.email }}!</h3>
          <a href="#" class="d-inline nav-link" (click)="logout()">Logout</a>
        </div>

        <ng-template #showName>
          <h1 class="d-inline">Hola {{ user.displayName }}!</h1>
          <a href="#" class="d-inline nav-link" (click)="logout()">Logout</a>
        </ng-template>
      </div>

      <ng-template #showLoginSignIn class="nav-item">
        <a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="['active']">Login</a>
        <a class="nav-link" [routerLink]="['/sign-in']" [routerLinkActive]="['active']">Sign In</a>
      </ng-template>
    </ul>

  </div>
</nav>

<div class="container shadow-lg bg-white rounded">
  <router-outlet></router-outlet>
</div>


